MUSICOLOGY_TIMEZONE=America/Chicago
MUSICOLOGY_DATA_DIR=data
MUSICOLOGY_INPUTS_DIR=data/inputs
MUSICOLOGY_DATABASE_PATH=data/database/musicology.sqlite3
MUSICOLOGY_OUTPUTS_DIR=data/outputs
LASTFM_USERNAME=
LASTFM_API_KEY=
